<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-base.xml"/>
    <springProfile name="dev">
        <logger name="com.sunmoka.it" level="debug">
            <appender-ref ref="DAYINFO"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>